@page "/todo"

<h1>To do</h1>

<form onsubmit="@AddItem">
        Add Item: <input bind="@newItemText" />
</form>

<ul>
    @foreach (var item in items)
    {
        <li>@item</li>
    }
</ul>

@functions {
    string newItemText;
    List<string> items = new List<string>();

    void AddItem()
    {
        items.Add(newItemText);
        newItemText = null;
    }

}